/* Additional classes to the EventCalendar.css for the worker page */

/* .btn-static {
    background: var(--primary-strong);
    width: 190px;
    color: #fff;
    border: none;
    padding: 0.8rem 1.3rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
} */

.btn-static-blue {
    background: var(--primary-strong);
    width: 170px;
    color: #fff;
    border: none;
    padding: 0.8rem 1.3rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

/* .btn-toggle {
    background: #565656;
    width: 150px;
    color: #fff;
    border: none;
    padding: 0.8rem 1.3rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
} */

.availability-notification {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #3a3f48;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 100;
    animation: slideIn 0.3s ease-out;
}



/* Toggle switch between continuous and specific availability */
.toggle-switch {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.toggle-label {
    font-weight: 600;
    color: #2c2d2e;
    font-size: 1rem;
}

.toggle-input-container {
    position: relative;
    width: 52px;
    height: 30px;
}

.toggle-input-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a6a6a6;
    transition: 0.3s;
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: #ffffff;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(0, 151, 0)
}

input:checked + .slider:before {
    transform: translateX(22px);
}

/* Slide animation */
@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* For smaller screens */
@media (max-width: 750px) {
    .btn-logout {
        margin-left: 0;
    }

    .event-header__actions {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 0.5rem;
    }

    /* .btn-toggle {
        font-size: 0.8rem;
    } */
    .btn-static-blue {
        font-size: 0.8rem;
    }
}